<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list inset>
    <button ion-item *ngFor="let item of items">
      {{ item }}
    </button> 
  </ion-list>
</ion-content>
