<!--
  Generated template for the QuestionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-buttons start>
      
    </ion-buttons>

    <ion-title>
      <ion-title>Question {{questionIndex + 1}} / {{questionProvider.questions.length}}</ion-title>
    </ion-title>

    <ion-buttons end>
      <button [disabled]="!form.valid" [hidden]="questionIndex === questionProvider.questions.length - 1" (click)="nextQuestion()" ion-button icon-end>
        {{ nextQuestionText || 'Next Question'}}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>

      <button [disabled]="!form.valid" *ngIf="questionIndex === questionProvider.questions.length - 1" (click)="finishQuestionnaire()" ion-button icon-end>
         <!-- Check score -->
         結果
        <ion-icon name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>

  <form #form="ngForm">

    <ion-list radio-group [(ngModel)]="selectedRadio" (ngModelChange)="pickAnswer(selectedRadio)" [required]="!question.optional" name="value" ngControl="value" >

      <ion-list-header text-wrap class="question">
        <h1>{{question.question_jp}} </h1>
      </ion-list-header>

      <div *ngIf="question.response_type === 'slider'">

        <ion-item class="answer">
          <ion-label>実によくあてはまる</ion-label>
          <ion-radio value="7"></ion-radio>
        </ion-item>

        <ion-item class="answer">
          <ion-label>よくあてはまる</ion-label>
          <ion-radio value="6"></ion-radio>
        </ion-item>

        <ion-item class="answer">
          <ion-label>わりとあてはまる</ion-label>
          <ion-radio value="5"></ion-radio>
        </ion-item>

        <ion-item class="answer">
          <ion-label>どちらでもない</ion-label>
          <ion-radio value="4"></ion-radio>
        </ion-item>

        <ion-item class="answer">
          <ion-label>あまりあてはまらない</ion-label>
          <ion-radio value="3"></ion-radio>
        </ion-item>

        <ion-item class="answer">
          <ion-label>ほとんどあてはまらない</ion-label>
          <ion-radio value="2"></ion-radio>
        </ion-item>

        <ion-item class="answer">
          <ion-label>全くあてはまらない</ion-label>
          <ion-radio value="1"></ion-radio>
        </ion-item>

      </div>

      <div *ngIf="question.response_type === 'radio' || question.response_type === 'radio_extra'">
        <ion-item *ngFor="let response_option of question.response_options; let oIndex = index; let oLast = last" class="answer">
          <ion-label>
            <!-- <span *ngIf="response_option.key"> {{response_option.key}}: </span> -->
            {{response_option.value}}
          </ion-label>
          <ion-radio value="{{oIndex + 1}}"></ion-radio>
        </ion-item>

      </div>
    </ion-list>

    <ion-item *ngIf="question.response_type === 'radio_extra' && selectedRadio === question.response_options.length.toString()" >
      <ion-label color="primary">
        {{question.response_options[question.response_options.length - 1].value}}
      </ion-label>
      <ion-input name="customAnswer" [(ngModel)]="customAnswer" (ngModelChange)="pickAnswer(customAnswer)"></ion-input>
    </ion-item>

    <ion-list>
      <ion-item *ngIf="answer.value || question.optional" style="min-height: 100px" text-center>
          <div text-center>
            <button [disabled]="!form.valid" [hidden]="questionIndex === questionProvider.questions.length - 1" (click)="nextQuestion()" ion-button icon-end>
              {{ nextQuestionText || 'Next Question'}}
              <ion-icon name="arrow-forward"></ion-icon>
            </button>
          </div>
        </ion-item>
    </ion-list>

  </form>

</ion-content>
