<!--
  Generated template for the ScoreBoardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>結果</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>

    <ion-card-content *ngIf="scores">
      <p><b>あなたのスコア</b></p>
      <p>あなたの音楽経験スコアは{{ scores[5].score }}です。</p>
      <p>スコアの値が高いほど、あなたの音楽経験値が高いことを示します。イギリスで2014年に行われた調査での音楽経験値の平均は約81でした。</p>
    </ion-card-content>
  </ion-card>

  <div text-center>
    <button (click)="gotoHome()" ion-button icon-beginning>
      <ion-icon name="home"></ion-icon>
      {{ homeButtonText || 'Home'}}
    </button>
  </div>

</ion-content>
