<!-- Generated template for the ScoreBarComponent component -->
<div class="progress-outer">
  <div class="progress-inner" [style.width]="100 * score / maxScore + '%'">
      {{score}} points
  </div>
</div>