<!--
  Generated template for the QuestionnairePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>あなたの音楽経験値を推定します！</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <!-- <ion-card-header>
      音楽経験アンケートへようこそ。このプロジェクトはアムステルダム大学の貞方マキ子が行っています。アンケートに参加されるまえに、プロジェクトの 説明をお読み下さい。
    </ion-card-header> -->
    <ion-card-content>
      <p>音楽経験アンケートへようこそ。</p>
      <br>
      <h2>内容</h2>
      <p>あなたの音楽経験についての３９の質問と、ご自身についての１０の質問に答えてください。システムがあなたの音楽経験スコアを推定します！</p>
      <br>
      <h2>目的と参加条件</h2>
      <p>このアンケートは、学術研究に使う音楽経験質問紙の作成を目的としています。このアンケートは18歳以上の日本人でしたら、どなたでもご参加いただけます。</p>
      <br>

      <h2 class="small">注意</h2>
      <p class="small">回答は匿名化して収集・保存されますので、個人情報は守秘されます。また、収集されたデータが学術以外の目的で使用されること、および研究チーム以外の第三者に渡ることはありません。ご希望の場合には、アンケートの最後で私たちがあなたのデータを保存しないように指定できます。アンケートを途中で辞めることも可能です。その場合のデータは破棄されます。</p>
      <br>
      <p class="small">このプロジェクトについてのご質問はアムステルダム大学の貞方マキ子までお願いします（m.sadakata@uva.nl・0031-6-1404-4132）。このアンケートについての苦情などはアムステルダム大学人文部倫理委員会までご連絡ください（commissie-ethiek-fgw@uva.nl / 003120-525-3054 / Kloveniersburgwal 48, 1012 CX Amsterdam）。お手数をおかけしますが、倫理委員会との連絡は英語でお願いします。必用な場合には貞方が翻訳のお手伝いをします。</p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>「同意して参加する」：下の「アンケートを開始する」ボタンを押すことで、私は音楽経験質問紙のアンケートに関しての説明を読み、参加することに同意します。</p>
      <br>
      <h2>「同意しない」：私は音楽経験質問紙のアンケートに参加しません。</h2>

    </ion-card-content>
  </ion-card>

  <button ion-button block (click)="startQuestionnaire()">アンケートを開始する</button>
</ion-content>
